.detail-head{
	padding: 0.1px;
}
.main>img{
	width: 100%;
}
.main>span{
	position: absolute;
	top: 21%;
	left: 48%;
	color: white;
	font-size: 42px;
}
body{
	background: #F7F7F7;
}
.main{
	width: 100%;
	/*height: 1350px;*/
	/*background: #CCCCCC;*/
	margin-top: 60px;
	/*position: relative;*/
}
.container{
	/*height: 100%;*/
	/*height: 800px;*/
	/*padding-bottom: 45px;*/
	/*background: #ccc;*/
}
.content{
	width: 100%;
	height: 100%;
	background: white;
	padding-left: 5%;
	padding-top: 5%;
}
.box img{
	width: 887.5px;
	height: 617.5px;
	/*position: absolute;*/
	/*bottom: 0;*/
}
.main .container .content h1{
	margin: 0 auto;
	text-align: center;
}
.main .container .content .text{
	padding-bottom: 10%;
	line-height: 1.8em;
	letter-spacing: 1px;
}
.main .container .content>p{
	font-size: 14px;
	color: #707070;
}
.footer{
	z-index: 999;
	margin-top: 3.5%;
}
